<!DOCTYPE html>
<html lang="{{ site.lang | default: " en-US" }}">

        <head>
                <meta charset="UTF-8">
                {% seo %}
                <link rel="preconnect" href="https://fonts.googleapis.com">
                <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
                <link href="https://fonts.googleapis.com/css2?family=Ubuntu&display=swap" rel="stylesheet">
                <meta name="viewport" content="width=device-width, initial-scale=1">
                <meta name="theme-color" content="#157878">
                <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
                <link rel="stylesheet"
                        href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}">

                {% include head-custom.html %}
        </head>

        <body>
                <a id="skip-to-content" href="#content">Skip to the content.</a>

                <header class="page-header" role="banner">
                        <h1 class="project-name">{{ page.title | default: site.title | default:
                                site.github.repository_name }}</h1>
                        <h2 class="project-tagline">{{ page.description | default: site.description | default:
                                site.github.project_tagline }}</h2>
                </header>

                <main id="content" class="main-content" role="main">

                        {{ content }}

                        <nav>
                                <ul>
                                        <li><a href="https://pupperemeritus.github.io/gsoc_blog/">Home</a></li>
                                        <li><a href="https://dev.to/pupperemeritus/community-bonding-period-29o4">Community
                                                        Bonding
                                                        Period</a></li>
                                        <li><a href="https://dev.to/pupperemeritus/gsoc-week-1-progress-update-17pp">Week
                                                        1</a></li>
                                        <li><a href="https://dev.to/pupperemeritus/gsoc-week-2-3-update-1b7l">Week
                                                        2 and 3</a></li>
                                        <li><a href="https://dev.to/pupperemeritus/gsoc-week-4-update-2g4a">Week
                                                        4</a></li>
                                        <li><a href="https://dev.to/pupperemeritus/gsoc-week-5-8-5198">Week
                                                        5,6,7 and 8</a></li>
                                        <li><a href="https://dev.to/pupperemeritus/gsoc-week-9-10-17mo">Week
                                                        9 and 10/a></li>
                                        <li><a href="https://dev.to/pupperemeritus/gsoc-week-11-13-1ja4">Week
                                                        11, 12 and 13</a></li>
                                        <li><a href="https://pupperemeritus.github.io/gsoc_blog/projectproposal">Project
                                                        Proposal</a></li>
                                        <li><a href="https://pupperemeritus.github.io/gsoc_blog/projectreport">Project
                                                        Report</a></li>
                                </ul>
                        </nav>
                        <!-- <footer class="site-footer">
            {% if site.github.is_project_page %}
            <span class="site-footer-owner"><a href="{{ site.github.repository_url }}">{{ site.github.repository_name
                    }}</a> is maintained by <a href="{{ site.github.owner_url }}">{{ site.github.owner_name
                    }}</a>.</span>
            {% endif %}
            <span class="site-footer-credits">This page was generated by <a href="https://pages.github.com">GitHub
                    Pages</a>.</span>
        </footer> -->
                </main>
                <script src="https://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML"
                        type="text/javascript">
                        </script>
        </body>

</html>